[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
[submodule "gbarecomp"]
	path = gbarecomp
	url = https://github.com/mstan/gbarecomp.git
[submodule "pokemon-olive"]
	path = pokemon-olive
	url = https://github.com/BoiledElectricity/pokemon-olive.git
